.des1 {
  position: absolute;
  width: 430px;
  height: 39px;
  left: 282px;
    top: 350px;
	font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #5a4f4f;
}

.des2 {
  position: absolute;
  width: 512px;
  height: 39px;
  left: 282px;
    top: 496px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #dadada;
}

.des3{
  position: absolute;
  width: 541px;
  height: 39px;
  left: 282px;
    top: 639px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #dadada;
}
